body{
    background-color: black;
}
*{
    margin: 0;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
}
.sub{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120vh;
    height: 120vh;
    background-color: aqua;
    background-image: url("bg3.webp");
    background-size: cover;
}
.box{
    margin-top: 15px;
    display: grid;
    width: 300px;
    height: 400px;
    background-color: white;
    position:absolute;
    border-radius: 5%;
    

}
.img{
    
    width: 300px;
    object-fit: cover;
    border-top-left-radius:20px;  
    border-top-right-radius: 20px;
    height: 150px;
   
    justify-content: center;
}
.img1{
    height: 100px;
    width: 100px;
     display: flex;
     margin-top: -90px;
    margin-left: 100px;
    border-radius: 50%;
}
table
{ 
    margin-top: 2px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    padding: 5px;
    margin-top: 20px;
}
.details{
    display: flex;
    flex-direction: column; 
    /* padding: 2px 16px; */
     /* margin-top: -100px;  */
     /* margin-left: 50px; */ 
    align-items: center;
    justify-content: center;
}
td{
    padding: 10px;
    text-align: center;
}
.button{
    display: flex;
   align-items: center;
   justify-content: center;

}
button{
    display: flex;
   align-items: center;
   justify-content: center;
   background-color: gray;
   color: white;
   border-radius: 5px;
   padding: 5px;
   margin-top: 20px;
   width:1000%;
}